<div class="menus">
  <owl-carousel #carousel [options]="carouselOptions" [items]="menus">
    <div class="menu" *ngFor="let menu of menus; let i = index">
      <app-header [title]="menu.title" [from]="menu.time.from" [until]="menu.time.until"></app-header>
      <div class="foods" fxLayout="row"
        [fxLayoutAlign]="menu.mealTypes.length > 3 ? 'space-evenly start' : 'start start'"
        [fxLayoutGap]="menu.mealTypes.length > 3 ? '' : '20px'">
        <div class="food" *ngFor="let mealType of menu.mealTypes">
          <div class="food-header">
            <h4>{{mealType.title}}</h4>
          </div>
          <app-food-box *ngFor="let meal of mealType.meals" [desc]="meal.title" [price]="meal.price"
            [image]="meal.image" [boxClass]="{'food-box-medium': mealType.meals.length > 2, 'food-box-small': mealType.meals.length > 3 || menu.mealTypes.length > 4}">
          </app-food-box>
        </div>
      </div>
    </div>
  </owl-carousel>
</div>
